[Unit]
Description=Intake24 Tasks Service
After=network.target

[Service]
Type=simple
User={{ env.user }}
Group={{ env.group }}
Restart=on-failure
KillSignal=SIGQUIT
WorkingDirectory={{ env.directory }}
ExecStart=/usr/bin/node dist/index.js

[Install]
WantedBy=multi-user.target
